@{
    ViewBag.Title = "About";
}
<div class="jumbotron jumbotron2">
    <h1>About:</h1>
    <h3>I decided to create this project because I myself am someone who loves music. All day, everyday, I have my headphones in. Because of that, I thought 
    it would be nice to share my love of music with others. This app is a chance for all of those who use it to share their music with anyone they'd like. That way everyone
    gets a chance to discover more of what they love.
    </h3>

 
</div>