@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="text-align:center">
    <h1>@ViewBag.Title.</h1>
    <h2>If you have any comments or concerns, my contact information is below:</h2>

    <address>

        <strong style="font-size:20px">Github:</strong>   <a href="https://github.com/mpenaloz" style="color: white; font-size: 20px">Click Here</a><br />
        <strong style="font-size:20px">Linkedin:</strong> <a href="https://www.linkedin.com/in/miguel-penaloza-a549881bb/" style="color: white; font-size: 20px">Click Here</a><br />
        <strong style="font-size:20px">Portfolio:</strong>  <a href="https://mpenaloz.github.io/Portfolio/" style="color: white; font-size: 20px">Click Here:</a><br />
    </address>
</div>