@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron2">
    <h1>MusicShare</h1>
    <p class="lead">MusicShare is a free web application meant for spreading the love of music across the world!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>
            Once you register an account on our site you will be able to access all of the posts!
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Exposure</h2>
        <p>With members from all over the word, you'll surely be introduced to new music that you've never heard of!</p>
        
    </div>
    <div class="col-md-4">
        <h2>Following</h2>
        <p>As you post more you'll gain more followers, which will allow you to spread your music taste and introduce yourself to more at the same time! </p>
        
    </div>
</div>